body {
      background-color: #f0f2f5;
      font-family: Arial;
    }

    .box {
      width: 400px;
      margin: 100px auto;
      padding: 30px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 5px 20px #81b19b;
      font-family: Arial, sans-serif;
    }

    .material-symbols-outlined {
      color: #81b19b;
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }

  h2 {
  text-align: center;
  margin-bottom: 20px;
  }

  input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  }

  button {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  }

  button:hover {
  background: #374942ff;
  box-shadow: 1px 1px 20px #81b19b;
  }

  .error {
  color: red;
  text-align: center;
  }
